

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>
</head>
<body>
    <div>
        <h3>Municipalidad de Florencio Varela</h3>
        <p><strong>Direccion de Transito</strong></p>
        <p>Por favor aguarde en la sala de espera.</p>
        <p>Su c&oacute;digo para ser llamado es:</p>
        <h1><strong>TU2311&nbsp;</strong></h1>
        <p>&nbsp;Dni: 13577771</p>
        <p>&nbsp;Apellido: Blasco</p>
        <p>&nbsp;Nombre: Nicolas</p>
        <p>&nbsp;Tipo de Turno: Original</p>
        <p>&nbsp;Fecha y Hora de Turno: 12/01/2019 10:10</p>
        <p>&nbsp;Fecha emision:&nbsp; 12/01/2019 10:13</p>
    </div>
</body>
</html>
