@model GestionDeTurnos.Models.Turn

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css">
    .middle {
        padding-top: 30px;
        background-color: #d6ea5c;
        padding-bottom: 100px;
        text-align: -webkit-center;
        border-color: bisque;
        border-width: thin;
        border-style: groove;
    }

        .middle label {
            font-size: 30px;
        }

    .btn-primary.raised {
        box-shadow: 0 3px 0 0 #007299;
        width: 203px;
    }

    .btn-danger.raised {
        box-shadow: 0 3px 0 0 #d43f3a;
        width: 203px;
    }

    .btn-success.raised {
        box-shadow: 0 3px 0 0 #4cae4c;
        width: 203px;
    }

    .btn-primary.raised:active, .btn-primary.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-danger.raised:active, .btn-danger.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }

    .btn-success.raised:active, .btn-success.raised.active {
        background: #33a6cc;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;
    }
</style>



<body>



    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Monitoreo</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-time fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">25</div>
                                <div>Min/Prom Atención!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-stop fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>Turnos Pendientes!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-play fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>Turnos En Proceso!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-smile-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Turnos Completados!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /#row -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Turno</th>
                                <th>Inicio</th>
                                <th>Tipo Turno</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>1</td>
                                <td>RE1233</td>
                                <td>09:04</td>
                                <td>Renovación</td>
                                <td>Nombre 1</td>
                                <td>Apellido 1</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>1</td>
                                <td>RE1234</td>
                                <td>09:04</td>
                                <td>Renovación</td>
                                <td>Nombre 2</td>
                                <td>Apellido 2</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>1</td>
                                <td>RE1235</td>
                                <td>09:04</td>
                                <td>Renovación</td>
                                <td>Nombre 3</td>
                                <td>Apellido 3</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>1</td>
                                <td>RE1236</td>
                                <td>09:04</td>
                                <td>Renovación</td>
                                <td>Nombre 4</td>
                                <td>Apellido 4</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>1</td>
                                <td>RE1237</td>
                                <td>09:04</td>
                                <td>Renovación</td>
                                <td>Nombre 5</td>
                                <td>Apellido 5</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /#page-wrapper -->
</body>

@section scripts {
    <script>
        $(function () {
            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.countrycode')
                    .val('(' + $(this).attr('data-value') + ')');
            });
        });

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });


        $(function () {
            // initialize sol
            $('#my-select').searchableOptionList();
            $('#my-select2').searchableOptionList();
        });



    </script>


}
