
@using GestionDeTurnos.Helpers
@using GestionDeTurnos.ViewModel

<style>
    .td-btn {
        text-align: center !important;
        border-bottom: 1px solid #EAEAEA !important;
        font-size: 13px !important;
        padding-left: inherit !important;
        overflow: hidden !important;
        white-space: normal !important;
        height: auto !important;
        width: 400px !important;
        /* border-right-width: 0px; */
    }

    .span-btn {
        color: #666666;
        cursor: pointer;
        /* margin: 0px; */
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
    }

    .span-btn-dtl {
        color: #9a3f3f;
        cursor: pointer;
        /* margin: 0px; */
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
    }

    .dataTables-Index {
        table-layout: fixed;
    }

    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .px200 {
        width: 200px;
        max-width: 200px;
        word-wrap: break-word;
    }

    .px100 {
        width: 10px !important;
        max-width: 50px;
        word-wrap: break-word;
    }
</style>
@*@if (PermissionViewModel.TienePermisoAcesso(WindowHelper.GetWindowId("Turnos", "Buscar")))
    {*@
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Turnos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="dataTables-Index" class="display nowrap table table-striped table-bordered table-hover" style="font-size:11px">
                        <thead>
                            <tr>
                                <th class="px100">Acción</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Tipo</th>
                                <th>FechaTurno</th>
                                <th>Trámite Iniciado</th>
                                <th>Multa</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src="~/Images/loading.gif" alt="Loading..." />
    </p>
</div>
@* } *@
